.flex-row-spbet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.inl-bl { display: inline-block; }
.block  { display: block; }
.disp-none { display: none; }

.sticky { position: sticky; top: 0; }
.relative { position: relative; }
.absolute { position: absolute; }

