
.phone-screen .desktop { display: none; }
@media screen and (max-width: 1200px) {
  .free-media-query .desktop { display: none; }
}

.desktop-screen .phone { display: none; }
@media screen and (min-width: 1200px) {
  .free-media-query .phone { display: none; }
}

.phone-screen { font-size: 1.2rem; }
@media screen and (min-width: 1200px) {
  .free-media-query { font-size: 1.2rem; }
}
.desktop-screen { font-size: 1.5rem; }
@media screen and (min-width: 1200px) {
  .free-media-query { font-size: 1.5rem; }
}

