.fat-ghost-on-check:checked + label::before {
  content: "";
  width: 200vw;
  height: 200vh;
  position: absolute;
  top: -100vh;
  left: -100vw;
}
.debug-mode .fat-ghost-on-check:checked + label::before {
  width: 0;
  height: 0;
}


