.debug-red {
  background-color: red;
}

.light-themed {
  --panel-normal: #eee;
  --panel-edge: #ddd;
}
.dark-themed {
  --panel-normal: #334;
  --panel-edge: #223;
}

.light-themed {
  --selection-line: #444;
  --fat-lines: #222;
}
.dark-themed {
  --selection-line: #444;
  --fat-lines: #999;
}


