.light-themed {
  --link-normal: #226;
  --link-visited: #404;
  --link-hover: #22a;
  --link-visited-hover: #806;
  --hover: rgba(0, 0, 128, 4%);
}
.dark-themed {
  --link-normal: #aad;
  --link-visited: #c9b;
  --link-hover: #99f;
  --link-visited-hover: #f8b;
  --hover: rgba(128, 128, 255, 6%);
}

a {
  text-underline-offset: 0.2rem;
  color: var(--link-normal);
  transition: all linear 0.05s;
}
a:visited {
  color: var(--link-visited);
}
a:hover {
  text-underline-offset: 0.15rem;
  color: var(--link-hover);
  background-color: var(--hover);
}
a:visited:hover {
  color: var(--link-visited-hover);
}

.buttony:hover {
  cursor: pointer;
  background-color: var(--hover);
}
