.light-themed {
  --background-normal: #fff;
  --foreground-normal: #000;
}
.dark-themed {
  --background-normal: #445;
  --foreground-normal: #eee;
}


.theme-wrapper {
  background-color: var(--background-normal);
  color: var(--foreground-normal);
}

