.debug-red {
  background-color: red;
}

.light-themed {
  --panel-normal: #fff;
  --shadow: rgba(0, 0, 0, 7%);

  --code-background: #ccc;
  --code-font: #222;
  --code-background: #101928;
  --code-font: #aaa;

  --code-background-gray: #181410;
}
.dark-themed {
  --panel-normal: #404045;
  --shadow: rgba(0, 0, 0, 10%);

  --code-background: #223;
  --code-font: #aaa;

  --code-background-gray: #262630;
}

.brown {
  background-color: var(--code-background-gray, #181410);
  color: var(--code-font, #aaa);
}
.blue {
  background-color: var(--code-background, #101928);
  color: var(--code-font, #aaa);
}

.light-themed {
  --selection-line: #444;
  --fat-lines: #222;
  --line: #ccc;
}
.dark-themed {
  --selection-line: #777;
  --fat-lines: #999;
  --line: #555;
}

