.debug-red {
  background-color: red;
}

.dark-theme-switch + .theme-wrapper {
  --panel-normal: #eee;
  --panel-edge: #ddd;
}
.dark-theme-switch:checked + .theme-wrapper {
  --panel-normal: #334;
  --panel-edge: #223;
}

.dark-theme-switch + .theme-wrapper {
  --selection-line: #444;
  --fat-lines: #222;
}
.dark-theme-switch:checked + .theme-wrapper {
  --selection-line: #444;
  --fat-lines: #999;
}


