.round { border-radius: 5px; }

.flex-row-spbet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex-row-spar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.grid { display: grid; }
.gap-2 { gap: 2rem; }
.grid-col-to-row { grid-auto-flow: column; }
@media screen and (max-width: 1200px) {
  .free-media-query .grid-col-to-row { grid-auto-flow: row; }
}
.phone-screen .grid-col-to-row { grid-auto-flow: row; }
.desktop-screen .grid-col-to-row { grid-auto-flow: column; }

@media screen and (max-width: 1200px) {
  .free-media-query .phone-scroll-x { overflow-x: scroll; }
}
.phone-screen .phone-scroll-x { overflow-x: scroll; }

.inl-bl { display: inline-block; }
.block , .inside-block > * { display: block; }
.disp-none { display: none; }

.sticky { position: sticky; top: 0; }
.relative { position: relative; }
.absolute { position: absolute; }

