.pad-no-ln-h > * {
  line-height: 1em;
  padding-top: 5px;
}

.m0a { margin: 0 auto; }
@media screen and (max-width: 1200px) {
  .free-media-query .phone-m0a { margin: 0 auto; }
}
.phone-screen .phone-m0a { margin: 0 auto; }

.m3a { margin: 3rem auto; }

.m0 { margin: 0; }

.p2, .inside-p2 > *, .iinside-p2 > * > * { padding: 1rem 1rem; }
.pl2 { padding-left: 1rem; }
.ml2 { margin-left: 1rem; }

.pl3 { padding-left: 2rem; }
.ml3 { margin-left: 2rem; }

.ptb1 { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.mtb1 { margin-top: 0.5rem; margin-bottom: 0.5rem; }

.mtb-like-p { margin-top: 1em; margin-bottom: 1em; }

.ptb2 { padding-top: 1rem; padding-bottom: 1rem; }
.mtb2 { margin-top: 1rem; margin-bottom: 1rem; }

.p3, .inside-p3 > *, .iinside-p3 > * > * { padding: 3rem 2rem; }
.m3, .inside-m3 > *, .iinside-m3 > * > * { margin: 3rem 2rem; }

@media screen and (max-width: 1200px) {
  .free-media-query .phone-iinside-m3 > * > * {
    margin: 3rem 2rem;
  }
}
.phone-screen .phone-iinside-m3 > * > * {
  margin: 3rem 2rem;
}

.iinside-last-child-fat > *:last-child > * { padding-right: 4rem; }
.iinside-first-child-fat > *:first-child > * { padding-left: 4rem; }
.iinside-first-child-ffat > *:first-child > * {
  padding-left: 4rem;
  padding-right: 4rem;
}

.inside-first-child-mra > *:first-child { margin-right: auto; }

