.fat-ghost-on-check:checked + label::before {
  content: "";
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}
.debug-mode .fat-ghost-on-check:checked + label::before {
  width: 0;
  height: 0;
}


