.ln-h-1em {
  line-height: 1em;
}

.txt-cent { text-align: center; }
@media screen and (max-width: 1200px) {
  .free-media-query .phone-txt-cent { text-align: center; }
}
.phone-screen .phone-txt-cent { text-align: center; }

.smol, .dont-be-like-button.smol {
  font-size: 75%;
  line-height: 2em;
}
.fat {
  font-size: 130%;
}
.ffat {
  font-size: 130%;
  letter-spacing: 0.1rem;
}
