.face-and-name {
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "face name" "face descr";

  letter-spacing: 0.1em;
  font-size: 1cm;
  line-height: initial;
}

.phone-screen .face-and-name { font-size: 0.4cm; }
@media screen and (max-width: 1200px) {
  .free-media-query .face-and-name { font-size: 0.4cm; }
}

.face-and-name > *:first-child {
  grid-area: face;
  height: 4cm;
  border-radius: 50%;
  margin-right: 0.6cm;
}

.phone-screen .face-and-name > *:first-child {
  height: 1.5cm;
  margin-right: 0.2cm;
}
@media screen and (max-width: 1200px) {
  .free-media-query .face-and-name > *:first-child {
    height: 1.5cm;
    margin-right: 0.2cm;
  }
}

.face-and-name > *:nth-child(2) {
  grid-area: name;
  margin-top: auto;
  margin-bottom: 0.2cm;
}

.phone-screen .face-and-name > *:nth-child(2) {
  margin-bottom: 0.07cm;
}
@media screen and (max-width: 1200px) {
  .free-media-query .face-and-name > *:nth-child(2) {
    margin-bottom: 0.07cm;
  }
}

.face-and-name > *:nth-child(3) {
  grid-area: descr;
  font-size: 80%;
  opacity: 60%;
}
