.banner-faces {
  width: max-content;
}
.banner-faces img {
  height: 2cm;
  background-size: cover;
}
.banner-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3rem;
  margin: 3rem 3rem;
}
.phone-screen .banner-grid {
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  gap: 1rem;
  margin: 1rem 1rem;
}
.banner-welcome {
  font-size: 3rem;
  margin: auto 0;
}
.phone-screen .banner-welcome {
  font-size: 2rem;
  text-align: center;
}
.banner-grid img {
  width: 100%;
  border-radius: 50%;
  background-size: cover;
}
.phone-screen .banner-grid img {
  width: 50%;
  margin: 0 auto;
}
.banner-back-and-front {
  width: min(100%, 30cm);
  margin: 0 auto;
  overflow-x: hidden;
}
