html {
  color-scheme: light dark;
}

body {
  font-family: system-ui;
  font-size: 1.5rem;
  line-height: 1.6;
  margin: 0 0;
}

h2 {
  margin-bottom: 4rem;
  margin-top: 12rem;
  text-align: center;
}

