.debug-mode .menu-bar a,
.debug-mode .menu-bar span {
  border: red 1px dashed;
}
.debug-mode .hamburger-checkbox {
  opacity: 50%;
}
.debug-mode .menu-bar span,
.debug-mode .menu-bar a,
.menu-bar span,
.menu-bar a {
  padding: 2rem 2rem;
  line-height: 1em;
  border-top: transparent 0.5rem solid;
  border-bottom: transparent 0.5rem solid;
}
.debug-mode .menu-bar .im-here,
.menu-bar .im-here {
  border-top-color: #444;
  border-bottom-color: #444;
}

.menu-bar {
  position: sticky;
  top: 0;
  background-color: #eee;
  box-shadow: #ccc 0 0 1rem 0;
  border-bottom: #ddd 1px solid;
  line-height: initial;
  width: min(150rem, 100%);
  margin: 0 auto;
}

.menu-bar > nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-bar .desktop-nav-list,
.menu-bar .hamburger-nav-list {
  padding-left: 0;
  list-style: none;
  margin: 0 0;
}

.menu-bar .desktop-nav-list > li:first-child {
  margin-right: auto;
}

.menu-bar .desktop-nav-list > li {
  display: inline-block;
}

.menu-bar .desktop-nav-list > li {
  margin-top: 2.5rem;
}
.menu-bar > nav > *:first-child {
  padding-left: 4rem;
  padding-right: 4rem;
}
.menu-bar > nav > .desktop-nav-list > li:last-child > * {
  padding-right: 4rem;
}

.menu-bar .menu-bar-title {
  margin-right: auto;
  margin-left: 3rem;
  font-size: 2rem;
  line-height: 2rem;
  margin-top: auto;
  margin-bottom: auto;
}
.menu-bar .hamburger-label {
  line-height: calc(100% - 10px);
  padding-left: 0.15em;
  padding-right: 0.15em;
  font-size: 2.5rem;
  color: #222;
}

.hamburger-nav-list,
.hamburger-checkbox,
.hamburger-label {
  display: none;
}

