.debug-mode .menu-bar a,
.debug-mode .menu-bar span {
  border: red 1px dashed;
}
.debug-mode .menu-bar span,
.debug-mode .menu-bar a,
.menu-bar span,
.menu-bar a {
  line-height: 1em;
}
.debug-mode .menu-bar .menu-bar-title,
.menu-bar .menu-bar-title {
  line-height: initial;
  border-top: initial;
  border-bottom: initial;

  font-size: 2rem;
  line-height: 2rem;
}
.debug-mode .menu-bar .desktop-nav-list .im-here,
.menu-bar .desktop-nav-list .im-here {
  border-top-color: var(--selection-line, #444);
  border-bottom-color: var(--selection-line, #444);
}

.menu-bar {
  line-height: initial;
  width: min(150rem, 100%);
}

.menu-bar, .hamburger-nav-list {
  background-color: var(--panel-normal, #eee);
  background-color: var(--panel-normal, #eee);
  box-shadow: #ccc 0 0 1rem 0;
  border-bottom: var(--panel-edge, #ddd) 1px solid;
}

.menu-bar .desktop-nav-list,
.menu-bar .hamburger-nav-list {
  padding-left: 0;
  list-style: none;
  margin: 0 0;
}

.menu-bar .desktop-nav-list > li:first-child {
  margin-right: auto;
}

.menu-bar .desktop-nav-list > li {
  display: inline-block;
}

.menu-bar > nav > .desktop-nav-list > li:first-child > * {
  padding-left: 4rem;
  padding-right: 4rem;
}

.menu-bar .hamburger-label {
  line-height: calc(100% - 10px);
  padding-left: 0.15em;
  padding-right: 0.15em;
  font-size: 2.5rem;
  color: var(--fat-lines, #222);
}

