.hamburger-nav-list,
.hamburger-checkbox,
.hamburger-label {
  display: block;
}
.debug-mode .menu-bar .menu-bar-title,
.menu-bar .menu-bar-title {
  display: inline-block;
}
.menu-bar .desktop-nav-list {
  display: none;
}

.hamburger-nav-list {
  border-radius: 5px;
  position: absolute;
  top: 3.5rem;
  right: 1rem;
}
.hamburger-nav-list > li > * {
  display: block;
  padding: 1rem 1rem;
  position: relative;
}

.menu-bar > a {
  padding: 0.2rem 1rem;
}

.hamburger-checkbox {
  opacity: 1%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.hamburger-label {
  position: absolute;
  top: 6px;
  right: 1rem;
  border: #777 2px solid;
  border-radius: 5px;
}

.hamburger-checkbox + label + .hamburger-nav-list {
  display: none;
}
.hamburger-checkbox:checked + label + .hamburger-nav-list,
  .hamburger-on
.hamburger-checkbox + label + .hamburger-nav-list {
  display: block;
}

.menu-bar > nav > span {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.menu-bar > nav > *:first-child,
.menu-bar > nav > span {
  padding: 0.5rem 1rem;
}

 .debug-mode .hamburger-checkbox {
  opacity: 50%;
}
