.outline {
  border: black 3px solid;
}

.test-wrapper {
  width: calc(400px + 1920px);
  display: grid;
  grid-template-areas:
    "phone big big"
    "phone small medium"
    ;
  grid-template-columns: 400px 920px 1000px;
}
.test-wrapper > * {
  border: black 1px solid;
}

.test-layout-almost { grid-area: big; }
.test-layout-tall { grid-area: phone; }
.test-layout-below-half { grid-area: small; }
.test-layout-above-half { grid-area: medium; }

