.banner-faces {
  width: max-content;
}
.banner-faces img {
  height: 2cm;
  background-size: cover;
}
.banner-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8rem;
  margin: 3rem 3rem;
}
.banner-welcome {
  font-size: 3rem;
  margin: auto 0;
}
.banner-grid img {
  width: 100%;
  border-radius: 50%;
  background-size: cover;
}
