.banner-wrapper {
  width: min(30cm, 60%);
  margin: 10vh auto;
  overflow-x: hidden;
}
.banner-faces {
  width: max-content;
}
.banner-faces img {
  height: 2cm;
  background-size: cover;
}
.banner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10%;
  margin-bottom: -0.5cm;
}
.banner-welcome {
  font-size: min(3rem, 2.5vw);
  margin: auto 0;
}
.banner-grid img {
  width: 100%;
  border-radius: 50%;
  background-size: cover;
}
