.hamburger-nav-list {
  display: none;
}

.phone-screen .hamburger-nav-list {
  display: block;
  border-radius: 5px;
  position: absolute;
  background-color: #eee;
  border: #888 2px solid;
  top: 2rem;
  right: 1rem;
  transition: all ease-in-out 0.1s;
}
.phone-screen .hamburger-nav-list a {
  display: block;
  padding: 1rem 1rem;
  position: relative;
}
.phone-screen .hamburger-nav-list a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 80%;
  height: 2px;
  background-color: #888;
}
.phone-screen .desktop-nav-list {
  display: none;
}

.phone-screen .menu-bar > a,
.phone-screen .menu-bar > span {
  padding: 0.2rem 1rem;
}

.hamburger-checkbox,
.hamburger-label {
  display: none;
}

.phone-screen .hamburger-checkbox {
  display: inline-block;
  opacity: 1%;
}
.debug-mode .hamburger-checkbox {
  opacity: 50%;
}

.phone-screen .hamburger-label {
  display: inline-block;
  position: absolute;
  top: 3px;
  right: 1rem;
  border: #777 2px solid;
  border-radius: 5px;
}
.phone-screen .hamburger-label::before {
  position: absolute;
  display: grid;
  grid-template-areas: "shit";
}
.phone-screen .menu-bar > ul {
  display: none;
}

.phone-screen .hamburger-checkbox + label + .hamburger-nav-list {
  transform: translateX(calc(100% + 2rem));
  opacity: 0%;
}
.phone-screen .hamburger-checkbox:checked + label + .hamburger-nav-list,
.hamburger-on .phone-screen .hamburger-checkbox + label + .hamburger-nav-list {
  transform: translateX(0);
  opacity: 100%;
}
