.menu-bar {
  position: sticky;
  top: 0;
  background-color: #eee;
}

.menu-bar > nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-bar .desktop-nav-list,
.menu-bar .hamburger-nav-list {
  padding-left: 0;
  list-style: none;
}

.menu-bar .desktop-nav-list > li:first-child {
  margin-right: auto;
}

.menu-bar .desktop-nav-list > li {
  display: inline-block;
}

.menu-bar a,
.menu-bar > nav > span {
  padding: 1rem 1rem;
}
.debug-mode .menu-bar a,
.debug-mode .menu-bar > nav > span {
  border: red 1px dashed;
}

.phone-screen .menu-bar a,
.phone-screen .menu-bar > nav > span {
  padding: 0.5rem 1rem;
}
.debug-mode .menu-bar .hamburger-label {
  padding: calc(0.5rem - 4px) calc(1rem - 4px);
}

